@import url('boton.css');
@import url('producto.css'); 
@import url('../../css/tipografia.css');
@import url('category-menu.css');

body {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    width: 100%;
    height: 500px;
}

.header {
    width: 250px;
    height: 100%;
    background-color: red;
}

.orden {
    display: flex;
    flex-direction: column;
}

.articulos {
    flex-grow: 1;
    overflow-y: scroll;
}

.products {
    display: grid;
    overflow-y: scroll;
    max-height: 100vh;
    grid-template-columns: 50% 50%;
}


ul {
    padding: 0; 
}

.content {
    flex-grow: 1;
    background-color: #FFFBFA;
    padding: 24px; 
}

.confirmar-orden {
    width: 100%;
    margin: 12px; 

}