@import url('boton.css');
@import url('producto.css');
@import url('../../css/tipografia.css');
@import url('menu-categorias.css');
@import url('menu.css');
body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.container {
    display: flex;
    height: 100%;
    align-items: stretch;
}

.header {
    width: 250px;
}

.orden {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    width: 318px;
}

.encabezado-orden {
    position: relative;
    display: flex;
    align-items: center;
    height: 66px;
}

.encabezado-orden h5 {
    margin: 0;
    margin-left: 16px;
    padding: 0;
}

.eliminar-orden {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 8px;
    top: 8px;
}

.articulos {
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-end;
    width: 318px;
    margin: 0px;
}

.productos {
    display: grid;
    row-gap: 12px;
    overflow-y: scroll;
    flex-grow: 1;
    grid-template-columns: 33% 33% 33%;
}

ul {
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #FFFBFA;
    padding-left: 24px;
    padding-right: 24px;
}

.confirmar-orden {
    width: calc(100% - 24px);
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 0px;
    margin-bottom: 12px;
}