@import url('boton.css');
@import url('producto.css'); 

body {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    width: 100%;
    height: 500px;
}

.header {
    width: 250px;
    height: 100%;
    background-color: red;
}

.orden {
    display: flex;
    flex-direction: column;
}

.articulos {
    flex-grow: 1;
    overflow-y: scroll;
}

ul {
    padding: 0; 
}

.content {
    flex-grow: 1;
    background-color: aqua;
}

.confirmar-orden {
    width: 100%;
    margin: 12px; 

}