@import url('../../css/tipografia.css');
@import url('menu.css');
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    font-family: 'Roboto Condensed';
}

.contenedor {
    display: flex;
    height: 100%;
}

.contenido {
    margin: 0px 24px;
    flex: 1;
}

p {
    margin-top: auto;
    margin-bottom: auto;
}

.mensajes {
    flex: 1;
    overflow-y: auto;
    margin-top: 24px;
}