.header {
    width: 250px;
}

.nav-bar {
    padding-top: 56px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar li {
    color: blue;
}

.nav-bar li a {
    width: 228px;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 16px;
}

.nav-bar li a p {
    font-weight: 300;
}

.elemento-seleccionado {
    color: rgba(255, 84, 66, 1);
    background-color: rgba(253, 159, 150, 0.12);
}

.nav-bar li a:not(.elemento-seleccionado) {
    color: rgba(54, 40, 38, 1);
}

.nav-bar li a:hover {
    color: rgba(255, 84, 66, 1);
}