nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 120px;
    padding-left: 120px;
    margin: 0;
}

.logo {
    text-align: center;
    font-size: 24px;
    font-family: 'Satisfy', cursive;
    color: #EFF6F8;
}

nav ul {
    display: flex;
    width: auto;
    justify-content: flex-end;
    margin-right: 120px;
}

nav ul li {
    display: inline-block;
    padding-left: unset;
    padding-right: unset;
    margin-left: 120px;
}

nav ul li a {
    color: #EFF6F8;
}

nav ul li a:hover {
    color: #FCB9B2;
}

li {
    display: inline;
    padding-left: 100px;
    padding-right: 100px;
}

li a {
    position: relative;
    text-decoration-style: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: rgba(65, 49, 46, 0.87);
    transition: color .3s;
}

li a:hover:not(.active) {
    color: rgba(252, 185, 178, 1);
}

nav button {
    width: 135px;
    height: 40px;
    background-color: #FCB9B2;
    color: #41312E;
    border: none;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-right: 120px;
    transition: box-shadow .3s;
}

nav button:hover {
    box-shadow: 0px 1px 2px rgba(65, 49, 46, 0.4);
    cursor: pointer;
}

li a::before {
    content: "";
    width: 0;
    background: rgba(252, 185, 178, 1);
    position: absolute;
    height: 3px;
    left: 0;
    right: 0;
    bottom: -10px;
    transition: all 300ms ease-out;
}

li a:hover::before {
    width: 100%;
}

.nav-toggle {
    color: #F7FAF9;
    display: none;
    cursor: pointer;
}

.boton-cerrar {
    display: none;
}

@media (max-width: 786px) {
    nav {
        box-sizing: border-box;
        height: 56px;
        padding: 0px 24px;
    }
    .logo {
        margin-left: 0;
    }
    nav ul {
        position: fixed;
        top: 0px;
        left: 0px;
        flex-direction: column;
        display: none;
        opacity: 0;
        transition: all 300ms ease-out;
    }
    .nav-toggle {
        display: inline-block;
    }
    nav ul {
        width: 100%;
        padding-left: 0px;
        margin: 0px;
        row-gap: 24px;
        justify-content: center;
    }
    nav ul li {
        margin: 0px auto;
    }
    nav ul li a {
        font-size: 16px;
    }
    .menu-visible {
        display: flex;
        opacity: 1;
        overscroll-behavior: contain;
        height: 100%;
        background-color: #384053;
    }
    .boton-cerrar {
        display: inline-flex;
    }
}