html {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    height: 100%;
}

.contenedor {
    /**   margin: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    width: 552px;
    **/
}

.contenido {
    height: 100vh;
    background-image: linear-gradient(rgba(151, 147, 170, 0.35), rgba(151, 147, 170, 0.35)), url('../img/nosotros.jpg');
    background-size: cover;
    background-position: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 15%;
}

.info h4 {
    color: #FCB9B2;
}

.info p {
    color: #F7FAF9;
    letter-spacing: 1px;
    line-height: 2.5;
}

.elementos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 10%;
    column-gap: 24px;
}

.mision p {
    line-height: 1.5;
}

.vision p {
    line-height: 1.5;
}

.valores {
    grid-column: span 2;
    align-self: center;
}

.valores ul {
    list-style-type: none;
    padding: 0;
}

.valores ul li {
    display: block;
    padding: 0;
    margin-top: 4px;
}

.ubicacion h4 {
    font-size: 42px;
    color: #384053;
}

.ubicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info #section {
    /*section    article*/
    background-color: #ffffff;
    width: 900px;
    float: left;
    margin: 10px auto;
    padding: 15px;
}

.circulo {
    /*Defines a geometric figure. In this figure we are going to add a picture so it's round shapped.*/
    width: 400px;
    height: 400px;
    border-radius: 100%;
    float: left;
}

.circulo>.imagen {
    /*Here we add the specs for our pic*/
    width: 100%;
    height: 100%;
    border-radius: 100%;
    padding: 100px 50px;
}

.description {
    /*Styles for the text*/
    float: right;
    width: 50%;
    padding: 190px 0px 80px 110px;
}

#showcase {
    /*Contains the description and circle pic*/
    padding: 40px 0;
}

.showcase-description h2 {
    /*Style for our description*/
    font-weight: 400;
    padding-bottom: 20px;
}

#slid {
    /*Div that contains the slider*/
    margin: 0;
    padding: 100;
}

.slider-frame {
    /*Specs for our slider*/
    width: 1000px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}

.slider-frame ul {
    /*Here we addapt our list tag so we can use it for another propose */
    position: absolute;
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 16s infinite alternate ease-in-out;
    /*Here we set the total time of our slider. Since we're working with
      4 pics each one gets 4 secs of display. That's why the number is 16. 
      Infiinite allows our slider to be automatic and repeat again and again.
      Ease-in-out is the transition we're using.*/
}

.slider-frame li {
    /*Here we get rid of the bullets of our list*/
    list-style: none;
    width: 100%;
}

.slider-frame img {
    /*Pic specs*/
    width: 100%;
}

.slider-frame h1 {
    /*Title*/
    padding-top: 20px;
    text-align: center;
    color: #ea899a;
}

@keyframes slide {
    /*Here we declare specs of time and duration.*/
    0% {
        margin-left: 0%;
    }
    20% {
        margin-left: 0%;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    95% {
        margin-left: -300%;
    }
}


/************************************************************************************
MEDIA QUERIES
*************************************************************************************/


/* para 980px o menos */

@media screen and (max-width: 980px) {
    #container {
        width: 96%;
    }
    #section {
        width: 60%;
    }
}


/* para 700px o menos */

@media screen and (max-width: 700px) {
    #header {
        height: auto;
    }
    #section {
        width: auto;
        float: none;
    }
}


/* para 480px o menos */

@media screen and (max-width: 480px) {
    h1 {
        font-size: 24px;
    }
}


/*
.footer {
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    border: 2px solid rgba(252, 185, 178, 1);
    padding-left: 16px;
}

.footer ul {
    font-size: 12px;
    color: rgba(54, 40, 38, 1);
}

.footer h5 {
    margin-bottom: 8px;
    font-weight: 500;
    margin-top: 8px;
    color: rgba(255, 84, 66, 1);
}

label {
    font-size: 12px;
    letter-spacing: 0.4px;
    color: rgba(54, 40, 38, 0.87);
    margin-bottom: 4px;
}
*/