@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
@import url('../css/tipografia.css');
html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

nav {
    height: 56px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    width: auto;
    justify-content: flex-end;
    margin-right: 120px;
}

nav ul li {
    display: inline-block;
    padding-left: unset;
    padding-right: unset;
    margin-left: 120px;
}

nav ul li a {
    color: #EFF6F8
}

.logo {
    width: 120px;
    height: 56px;
    margin-left: 120px;
    background-color: rgba(196, 196, 196, 1);
}

.ver-mas {
    width: 220px;
    height: 48px;
    background-color: #FCB9B2;
    color: #41312E;
    border: none;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-top: 40px;
    border-radius: 16px;
    transition: box-shadow .3s;
}

.ver-mas:hover {
    box-shadow: 0px 1px 2px rgba(65, 49, 46, 0.4);
    cursor: pointer;
}

.info {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.info-titulo {
    margin: 0px;
    font-size: 56px;
    text-align: center;
    color: white;
}

.info-descripcion {
    margin-bottom: 0px;
    width: 464px;
    line-height: 150%;
    font-size: 14px;
    line-height: 2.3;
    text-align: center;
    color: white;
}

span {
    color: #f09188;
}

.hero {
    height: 100vh;
    background-image: linear-gradient(rgba(151, 147, 170, 0.35), rgba(151, 147, 170, 0.35)), url('../img/img.jpg');
    background-size: cover;
    background-position: center;
}

.content {
    position: relative;
}

.nuestros-productos {
    width: 469px;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.nuestros-productos h2 {
    color: rgba(54, 40, 38, 0.87);
}

.nuestros-productos p {
    width: 469px;
    font-size: 22.65;
    color: rgba(54, 40, 38, 0.87);
}

.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 120px;
    margin-right: 120px;
    padding-bottom: 80px;
    row-gap: 24px;
}

.producto {
    width: 320px;
    padding-bottom: 12px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.producto .nombre {
    margin: 0;
    color: #384053;
    font-weight: 600;
}

.producto .precio {
    color: #384053;
}

.producto p {
    margin: 6px 0px;
}

.producto>*:not(:first-child) {
    padding-left: 24px;
    padding-right: 24px;
}

.producto .categoria {
    color: #F09188;
    font-size: 12px;
}

.producto .imagen {
    position: relative;
}

.capa {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 64, 82, 0.35);
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease-out;
}

img {
    width: 100%;
    object-fit: cover;
    height: 320px;
}

.producto .imagen .descripcion {
    position: absolute;
    margin: 0;
    top: 0;
    margin: 0px 0px;
    text-align: center;
    color: #F7FAF9;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease-out;
}

.producto:hover>.imagen .descripcion {
    opacity: 1;
    visibility: visible;
    transform: translateY(50%);
}

.producto:hover>.imagen .capa {
    opacity: 1;
    visibility: visible;
}

.footer {
    width: 100%;
    height: 296px;
    background-color: rgba(248, 232, 230, 1);
}